
<% provide(:title, 'New Analysis') %>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Tool Option</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                <!-- %= @title % -->
                <%= @tool_item.getType %>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <br />
                <% if @tool_item.getType == 'MHC-I'%>
                    <%= render 'mhci'  %>
                <% elsif @tool_item.getType == 'MHC-II'%>
                    <%= render 'mhcii'  %>
                <% elsif @tool_item.getType == 'KBIO-MHC-I'%>
                    <%= render 'kbio_mhci'  %>
                <% elsif @tool_item.getType == 'KBIO-MHC-II'%>
                    <%= render 'kbio_mhcii'  %>
                <% end %>
                 
                </div>
            </div>
        </div>
    </div>
</div>