<% provide(:title, "Result | #{@analysis.title}") %>
<%= stylesheet_link_tag    "kbio_mhcii_result", :media => "all" %>

<div class="page-title">
    <div class="title_left">
        <h3><%= @analysis.title %> <b> score : <%= @results.score %><b></h3>
    </div>

    <div class="title_right">

        <div class="col-xs-12">              
            <%= link_to 'Back', project_datum_path(@project, @datum), :class=>"btn btn-success pull-right" %>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            
            <%= content_tag :div, "", id: "KBIO_MHCII_chart", style: "height: 1200px;", data: {results: @json} %>

        </div>
    </div>
</div>