<% provide(:title, "Result | #{@analysis.title}") %>


<div class="page-title">
    <div class="title_left">
    <h3><%= @analysis.title %></h3>
    </div>

    <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
        </div>
    </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
        <h2>Analysis Result for MHC II <small><%= @analysis.title %></small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-download"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><%= link_to "CSV", kbio_mhcii_result_show_path( :result_id => params[:result_id], :analysis_id => params[:analysis_id], :format => "csv") %>
                </li>
                <li><%= link_to "Excel", kbio_mhcii_result_show_path( :result_id => params[:result_id], :analysis_id => params[:analysis_id], :format => "xls") %>
                </li>
            </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <p class="text-muted font-13 m-b-30">
        <%= @analysis.description %>
        </p>
        <p>
            <%= link_to "CSV", kbio_mhcii_result_show_path( :result_id => params[:result_id], :analysis_id => params[:analysis_id], :format => "csv"), :class=>"btn btn-primary" %>
            <%= link_to "Excel", kbio_mhcii_result_show_path( :result_id => params[:result_id], :analysis_id => params[:analysis_id], :format => "xls"), :class=>"btn btn-primary" %>
        </p>

        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>allele</th>
                <th>seq_num</th>
                <th>start</th>
                <th>end</th>
                <th>peptide</th>
                <th>method</th>
                <th>consensus_percentile_rank</th>
                <th>comblib_core</th>
                <th>comblib_score</th>
                <th>comblib_rank</th>
                <th>smm_align_core</th>
                <th>smm_align_ic50</th>
                <th>smm_align_rank</th>
                <th>nn_align_core</th>
                <th>nn_align_ic50</th>
                <th>nn_align_rank</th>
                <th>netmhciipan_core</th>
                <th>netmhciipan_ic50</th>
                <th>netmhciipan_rank</th>
                <th>sturniolo_core</th>
                <th>sturniolo_score</th>
                <th>sturniolo_rank</th>
            </tr>
            </thead>

            <tbody>

            <% @results.each do |result| %>
                <tr>
                    <td><%= result.allele %></td>
                    <td><%= result.seq_num %></td>
                    <td><%= result.start %></td>
                    <td><%= result.end %></td>
                    <td><%= result.peptide %></td>
                    <td><%= result.method %></td>
                    <td><%= result.consensus_percentile_rank %></td>
                    <td><%= result.comblib_core %></td>
                    <td><%= result.comblib_score %></td>
                    <td><%= result.comblib_rank %></td>
                    <td><%= result.smm_align_core %></td>
                    <td><%= result.smm_align_ic50 %></td>
                    <td><%= result.smm_align_rank %></td>
                    <td><%= result.nn_align_core %></td>
                    <td><%= result.nn_align_ic50 %></td>
                    <td><%= result.nn_align_rank %></td>
                    <td><%= result.netmhciipan_core %></td>
                    <td><%= result.netmhciipan_ic50 %></td>
                    <td><%= result.netmhciipan_rank %></td>                    
                    <td><%= result.sturniolo_core %></td>
                    <td><%= result.sturniolo_score %></td>
                    <td><%= result.sturniolo_rank %></td>                                  
                </tr>
            <% end %>

            </tbody>
        </table>
    </div>
</div>